<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisoft.lazyorder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".ui.goods.GoodsActivity"
            android:label="@string/title_activity_goods">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cisoft.lazyorder.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".ui.sureorder.SureOrderActivity"
            android:label="@string/title_activity_sure_order" >
        </activity>
        <activity
            android:name=".ui.sureinfo.SureInfoActivity"
            android:label="@string/title_activity_sure_info" >
        </activity>
    </application>

</manifest>
