<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisoft.lazyorder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/NoUpIndicator"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".ui.goods.GoodsActivity"
            android:label="@string/title_activity_goods" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cisoft.lazyorder.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:label="@string/title_activity_cart" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cisoft.lazyorder.ui.goods.GoodsActivity" />
        </activity>
        <activity
            android:name=".ui.settle.SettleActivity"
            android:label="@string/title_activity_settle" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cisoft.lazyorder.ui.cart.CartActivity" />
        </activity>
        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:label="@string/title_activity_order_detail" >
        </activity>
        <activity
            android:name=".ui.express.PostExpressActivity"
            android:label="@string/title_activity_post_express" >
        </activity>
        <activity
            android:name=".ui.account.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.about.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ui.express.ChoiceSmsActivity"
            android:label="@string/title_activity_choice_sms" >
        </activity>
        <activity
            android:name=".ui.common.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".ui.address.ManageAddressActivity"
            android:label="@string/title_activity_manage_address" >
        </activity>
        <activity
            android:name=".ui.address.UpdateAddressActivity"
            android:label="@string/title_activity_update_address" >
        </activity>
        <activity
            android:name=".ui.address.InsertAddressActivity"
            android:label="@string/title_activity_insert_address" >
        </activity>
        <activity
            android:name=".ui.account.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ui.account.RegisterTwoActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ui.account.UserCenterActivity"
            android:label="@string/title_activity_user_center">
        </activity>
        <activity
            android:name=".ui.about.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ui.account.EditPasswordActivity"
            android:label="@string/title_activity_edit_password" >
        </activity>
        <activity
            android:name=".ui.account.AlterPhoneVerifyActivity"
            android:label="@string/title_activity_alter_phone_verify" >
        </activity>
        <activity
            android:name=".ui.account.AlterPhoneBindingActivity"
            android:label="@string/title_activity_alter_phone_binding" >
        </activity>

        <service android:name=".core.about.UpdateService" />
    </application>

</manifest>
